# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example

# =========================
# FastAPI / Python
# =========================

.pytest_cache/
.mypy_cache/

# =========================
# Node / React
# =========================

node_modules/
dist/
build/
.vite/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Uploads & Database
# =========================
uploads/
backend/uploads/
*.db
*.sqlite3
data/
backend/data/

# =========================
# Logs
# =========================

*.log
npm-debug.log*